@import "tailwindcss";

/*
Source - https://stackoverflow.com/a
Posted by keidakida
Retrieved 2025-11-07, License - CC BY-SA 4.0
*/


select {
  -webkit-appearance: none;
  appearance: none;
}

select {
  background-image: url("../assets/icon-down.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
}

@supports (-webkit-touch-callout: none) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}