<section class="relative w-full lg:py-14 py-8 flex items-center justify-center bg-orange-500 overflow-hidden">
    <div class="absolute inset-0 bg-[url('../assets/bg.png')] bg-center opacity-20"></div>

    <p class="relative text-white font-bold lg:text-4xl text-2xl text-center z-10">
        Unlock Your Software With LeadConnector
    </p>
</section>

<!-- <section class="w-full py-16 flex items-center justify-center bg-orange-500 bg-[url('../assets/bg.png')] bg-center bg-blend-multiply"> 
    <p class="text-white font-bold text-3xl">Unlock Software With LeadConnector</p> 
</section> -->