
<section class="relative w-full lg:py-8 py-4 flex items-center justify-center bg-[#081D33] overflow-hidden">
    <p class="relative text-white lg:text-md">
        © Copyright - All Rights Reserved
    </p>
</section>
